IOT Project/IOTProjectFlow
[{"id":"14c85b1d.abebf5","type":"exec","z":"8d7bda0f.c77e08","command":"python /home/pi/Downloads/LCDAlertImage.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"AlertLCD","x":599.5,"y":278.5,"wires":[[],[],[]]},{"id":"c009551b.5158d8","type":"mqtt in","z":"8d7bda0f.c77e08","name":"FloodSensor","topic":"Flood","qos":"2","broker":"1e771438.417aac","x":123,"y":272,"wires":[["d83d1a75.17d1d8","33e8bd3c.5e1fa2"]]},{"id":"a476adfe.90416","type":"debug","z":"8d7bda0f.c77e08","name":"","active":false,"console":"false","complete":"payload","x":804,"y":460,"wires":[]},{"id":"1022120b.29326e","type":"function","z":"8d7bda0f.c77e08","name":"FireAlert","func":"if ( msg.payload === \"0\" || msg.payload === \"1\") {\n    msg.payload=\"1\";\n    return msg;\n    }\nelse \n{\n    msg.payload=\"No Fire\";\n}","outputs":1,"noerr":0,"x":361.5,"y":343,"wires":[["f5b7bb4c.90c188","14c85b1d.abebf5","72569685.474e18"]]},{"id":"3562901a.3a10c","type":"mqtt in","z":"8d7bda0f.c77e08","name":"FlameSensor","topic":"Flame","qos":"2","broker":"1e771438.417aac","x":123,"y":343,"wires":[["a476adfe.90416","1022120b.29326e","33e8bd3c.5e1fa2"]]},{"id":"f5b7bb4c.90c188","type":"debug","z":"8d7bda0f.c77e08","name":"","active":false,"console":"false","complete":"payload","x":803,"y":415,"wires":[]},{"id":"5117877d.397d98","type":"mqtt in","z":"8d7bda0f.c77e08","name":"TemperatureSensor","topic":"Temp","qos":"2","broker":"1e771438.417aac","x":152,"y":198,"wires":[["a15c21fb.7ea48","bae03fdf.1a228","ee7a7e35.5bd16"]]},{"id":"a15c21fb.7ea48","type":"function","z":"8d7bda0f.c77e08","name":"TemperatureRegulator","func":"if ( msg.payload > \"23\") {\n    msg.payload=1;\n    return msg;\n    }\nelse \n{\n    }","outputs":"1","noerr":0,"x":411,"y":198,"wires":[["d9807705.789418","d4cee756.7f4ae8"]]},{"id":"d83d1a75.17d1d8","type":"function","z":"8d7bda0f.c77e08","name":"FloodAlert","func":"if ( msg.payload === \"0\") {\n    msg.payload=\"1\";\n    return msg;\n    }\nelse \n{\n    msg.payload=\"No Flood\";\n}","outputs":1,"noerr":0,"x":375,"y":273,"wires":[["14c85b1d.abebf5","72569685.474e18"]]},{"id":"72569685.474e18","type":"exec","z":"8d7bda0f.c77e08","command":"python /home/pi/Downloads/buzzer.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"Buzzer","x":599,"y":333.5,"wires":[["d42c2832.e72298"],["d42c2832.e72298"],["d42c2832.e72298"]]},{"id":"d42c2832.e72298","type":"debug","z":"8d7bda0f.c77e08","name":"","active":false,"console":"false","complete":"payload","x":798,"y":374,"wires":[]},{"id":"d9807705.789418","type":"debug","z":"8d7bda0f.c77e08","name":"","active":false,"console":"false","complete":"payload","x":787,"y":142,"wires":[]},{"id":"d4cee756.7f4ae8","type":"exec","z":"8d7bda0f.c77e08","command":"python /home/pi/Downloads/Fan.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"CoolDown","x":605,"y":118.5,"wires":[[],[],[]]},{"id":"bae03fdf.1a228","type":"file","z":"8d7bda0f.c77e08","name":"WriteDHT","filename":"/home/pi/Downloads/DHTValue.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":373,"y":131,"wires":[]},{"id":"ee7a7e35.5bd16","type":"debug","z":"8d7bda0f.c77e08","name":"","active":false,"console":"false","complete":"payload","x":669,"y":40,"wires":[]},{"id":"33e8bd3c.5e1fa2","type":"function","z":"8d7bda0f.c77e08","name":"Temperature Display","func":"if ( msg.payload != \"0\" || msg.payload != \"1\") {\n    msg.payload=\"1\";\n    return msg;\n    }\nelse \n{    \n}","outputs":1,"noerr":0,"x":812,"y":287,"wires":[["f8d435ed.0deae8"]]},{"id":"f8d435ed.0deae8","type":"exec","z":"8d7bda0f.c77e08","command":"python /home/pi/Downloads/LCDDHT.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"ReadDHT","x":832,"y":329,"wires":[[],[],[]]},{"id":"1e771438.417aac","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]